#Screenshots .mock-window-container {
  margin-bottom: 1em;
}

.preview-container {
  text-align: center;
  display: block;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1em;
}

.preview {
  width: 100%;
}

.badges {
  display: block;
  text-align: center;
}

.badges .badge.badge-default {
  margin-right: 10px;
}