#Skills ul {
  list-style-type: none;
}

.false-ul {
  font-weight: 500;
  font-family: 'IBM Plex Mono', monospace;
  color: #00CC99;
}

.false-li {
  margin-left: 1em;
  color: #F45B69;
  cursor: pointer;
}

.text-inside {
  color: #EBE9E9;
  font-weight: 200;
}