@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,300,400,500');

*::-webkit-scrollbar-thumb {
  background-color: #00CC99;
}

*::-webkit-scrollbar {
  width: 4px;
  background: #000105;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}